body{
    color: black;
    background-color: orange;
    background-image: url('images/orange-bg.jpg');
}

div{
    background-color: white;
    width: 400px;
    padding: 10px;

    margin: 50px auto 50px auto;
    /*      상    우   하    좌*/
    border: 10px solid orange;
    /* border-px border-style border-color*/

}
 
 
h1{
    color: orange;
    border-bottom: 5px solid orange;
    width: 50px;
    margin: auto

}

ul{
    background-color: whitesmoke;
    width: 100px;
    margin: auto auto;
    padding: 10px;

}